
#aboutImage{
    min-width: 100%;
}

#heroText{
    color: white;
    text-shadow: 3px 3px #2E856E;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




@media (max-width: 576px) {
}


@media (max-width: 768px) {
}


@media (max-width: 992px) {
}