/*Confirmation.module.css*/
.confirmationPage {
  background: #f8f8f8;
}

.confirmationContainer {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.carData {
  background: bisque;
  height: 300px;
  width: 300px;
}

.buyerSellerContainer {
  background: white;
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 1px #aaa9a988;
}
.buyerSellerContainer h2 {
  text-align: center;
}
.buyerSellerWrapper {
  border-bottom: 1px solid #e0d8d8;

}
.buyer {
  margin-bottom: 1em;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}
.buttonContainer button {
  padding: 0.5em;
  font-size: 0.9rem;
}



@media (min-width: 768px) {
  .confirmationContainer {
    width: 70%;
  }
  .buyerSellerWrapper {
    display: flex;
    justify-content: space-between;
  }
  .buttonContainer button {
    font-size: 1rem;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}