footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e856e;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}


.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.a {
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column;
  }

  .contact{
    margin-bottom:1rem;
  }
}
