footer {
  width: 100%;
  background-color: #2e856e;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem; 
}


.social {
  height: 40px;
  width: 40px;
  margin-right: 15px;

}

.social {
color: white;
}

/*
.a {
  color: white;
}


.contact {
  display: flex;
  flex-direction: column;
}
*/

@media (max-width: 576px) {

  /*
  footer {
    flex-direction: column;
  }

  .contact{
    margin-bottom:1rem;
  }
  */
}

@media print {
  footer {
    display: none;
  }
}
