h1 {
  text-align: center;
}

#search_field_container {
  border: 1px solid black;
  display: inline-block;
  width: 33%;
}

#product_listing_container {
  border: 1px solid black;
  display: inline-block;
  width: 67%;
}
