h2 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  color: #353336;
}

img {
  max-width: 100%;
}

.car_description_title {
  font-weight: 600;
}

.card_description {
}

.card_information {
}

.product_card {
  border: 1px solid black;
  border-radius: 1%;
  padding: 10px;
}

.image_wrapper {
}
