h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-top: 0.5rem;
}

p {
  color: #353336;
}

img {
  border-radius: 1%;
  max-width: 100%;
}

button:hover {
  color: #fff;
  background-color: #2e856edc;
  border-color: #000;
}

.button_add {
  background-color: #2e856e;
  border-style: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 6px 12px;
}

.button_read {
  background-color: #2e856e;
  border-style: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 6px 12px;
}

.button_load {
  background-color: #2e856e;
  border-style: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin: 2rem 1.2rem 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
}

.button_load_wrapper {
  display: flex;
  justify-content: stretch;
}

.car_description_title {
  font-weight: 600;
}

.card_description {
  font-size: 0.8rem;
}

.card_description_button_wrapper {
  display: grid;
  grid-auto-rows: minmax(auto, 100px);
}

.card_information {
  font-size: 0.8rem;
}

.card_text_wrapper {
}

.information_category {
  font-weight: bold;
}

.product_card {
  border: 1px solid black;
  border-radius: 1%;
  padding: 10px;
}

.product_card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: center;
}

.product_list_container {
}

.image_wrapper {
}

.subheading {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .product_card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 95%);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
  }

  .button_load {
  background-color: #2e856e;
  border-style: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin: 2rem 0.6rem 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) {
  .product_card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
  }
}
