h2 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  color: #353336;
}

img {
  max-width: 100%;
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
}

.car_description_title {
  font-weight: 600;
}

.card_description {
}

.card_information {
}

.product_card {
  border: 1px solid black;
  border-radius: 1%;
  padding: 10px;
}

.product_card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: center;
}

.image_wrapper {
}
