.h2 {
	font-size: 1.75rem;
	text-align: center;
}

.p {
	font-weight: bold;
}

.span {
	font-weight: normal;
}

.billing_information {
	width: 47%;
}

.text_information {
}

.personal_information {
	width: 47%;
}

.profile_information_content {
	display: flex;
	background: white;
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 10px;
	box-shadow: 1px 2px 2px 1px #aaa9a988;
}
