.profileContainer {
    display: flex;
    flex-direction: row;
}

.greetingText {

}

.profileSidebar {
    width: 15vw;
    height: 40vh;
    margin-top: 2rem;
    font-weight:bolder;
    min-width: 135px;
}

.headerText {
    width: 100%;
    font-size: 1.3rem;
    color: orange;
    padding: 0.313rem 17px;
}


.profileSidebar li {
    padding: .9375em 1.25em .9375em;
    margin: 0;
    font-size: 1rem;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profileContent {
    flex: 1 1 auto;
    height: 700px;
    margin-top: 3rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.messages {
    width: 95%;
    border: 1px solid black;
    margin: auto;
    height: 330px;
    margin-top: 100px;
}

.messagesHeader {
    text-align: center;
}

@media (max-width: 704px) {

   
}

