.h2 {
	font-size: 1.75rem;
}
.hr {
	width: 75%;
}

.p {
	font-weight: bold;
}

.span {
	font-weight: normal;
}

.login_information {
}

.payment_method {
}

.personal_information {
}

.personal_information_header {
}

.profile_information_content {
	background: white;
	padding: 1rem;
	/* margin-top: 1rem; */
	margin: auto;
	width: 70%;
	/* border-radius: 10px; */
	/* box-shadow: 1px 2px 2px 1px #aaa9a988; */
	box-shadow: 0 1px 5px rgb(0 0 0 / 30%), 0 1px 2px rgb(0 0 0 / 30%);
}
