.heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #cecece;
  margin-bottom: 2rem;
}
.heading p {
  font-size: 1.4rem;
  color: rgb(79, 79, 79); 
}

.filter_icon {
 color: rgb(79, 79, 79); 
}

.filter {
  display: flex;
}

.filter_icon {
height: 35px;
margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  background: white;
  color: rgb(79, 79, 79); 
}

label{
  font-weight: bold; 
}

.year{
  display: flex;
  justify-content:space-evenly;
  align-items: center; 
}

.year input{
  width: 80%;
}

.min_max_wrapper{
  display: flex;
  justify-content:space-between;
}

.min, .max{
  border: 1px solid lightgrey;
  width: 100%;
  text-align: center;
  margin: 2px;
  color: grey; 
  font-size: 0.9rem; 
}

@media (max-width: 576px) {
  .active input {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .heading {
    border-bottom: 0px;
    margin: 0px;
  }

  form {
    display: none;
  }

  .active {
    display: flex;
    width: 90vw;
  }

  .active input {
    margin-bottom: 2rem;
    padding: 1rem;
  }

}

