.sidebar {
  width: 80%;
  margin: 0 auto;
}

.heading {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid #767674;
  margin-bottom: 2rem;
}
.heading p {
  padding-right: 10px;
  font-size: 2rem;
}

.filter{
  width: 30px;
  height: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 2rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}
