.heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #767674;
  margin-bottom: 2rem;
}
.heading p {
  font-size: 1.4rem;
}

.filter {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  background: white;
  overflow: scroll;
}

input {
  margin-bottom: 2rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .active input {
    margin-bottom: 0.5rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .heading {
    border-bottom: 0px;
    margin: 0px;
  }

  form {
    display: none;
  }

  .active {
    display: flex;
  }

  .active input {
    margin-bottom: 2rem;
    padding: 1rem;
  }

 
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  
}
